<div class="container p-3">
  <h2>Detalhes do Cadastro</h2>

  <div class="row">
    <div class="col-md-6">
      <p><strong>Nome:</strong> {{ data.infoCadastro.cliente }}</p>
      <p><strong>Endereço:</strong> {{ data.infoCadastro.endereco }}</p>
      <p><strong>Telefone:</strong> {{ data.infoCadastro.telefone }}</p>
      <p><strong>Email:</strong> {{ data.infoCadastro.email }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Modelo:</strong> {{ data.infoCadastro.item }}</p>
      <p><strong>Número de Série:</strong> {{ data.infoCadastro.itemSerie }}</p>
      <p><strong>Opção:</strong> {{ data.infoCadastro.status | upperToCamelCase }}</p>
      <p><strong>Data de Entrada:</strong> {{ dia | dataFormat }}</p>

    </div>
  </div>

  <div class="mt-4">
    <p><strong>Anotações:</strong> {{ data.infoCadastro.anotacao }}</p>
    <p><strong>Descrição do Problema:</strong> {{ data.infoCadastro.desc }}</p>
  </div>

  <mat-dialog-actions align="end">
    <button class="botao-betha" (click)='chamardata()'>chamar data</button>
    <button class="botao-betha" mat-dialog-close>Fechar</button>
  </mat-dialog-actions>
</div>