betha-project-back/target/
.env
betha-project-front/node_modules/
betha-project-front/.angular/
.vscode/settings.json
chamado_rows.csv
cliente_rows.csv
sem-uso
/betha-project-back/cred.json
cred.json
.vscode/launch.json
