<p>
  <mat-toolbar color="primary">
    <!-- <mat-toolbar-row> -->
    <div class="brand">
      <div class="detalhe">
        <img src="../../../assets/image/angular-logo.svg" alt="" style="cursor: pointer; width: 48px; height: 33px;"
          (click)="onLogin()">
      </div>
      <div class="itens">
        <span class="ambiente-de-cadastro">AMBIENTE DE CADASTRO</span>
        <span (click)="onHome()" style="cursor: pointer;">Visão geral</span>
        <button mat-button [matMenuTriggerFor]="menu">Configurando ⏷</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Trocar senhas</button>
          <!-- abri um dialogo perguntando de quem vc quer trocar a senha
           faz um findall pega o id e patch senha nova para http://localhost:8080/tecnico/password-patch -->
        </mat-menu>
        <span style="cursor: pointer;" matTooltip="{{errorMessage}}">Planejado ⏷</span>
        <button *ngIf="ADMIN" mat-button [matMenuTriggerFor]="menuR">Registrado ⏷</button>
        <mat-menu #menuR="matMenu">
          <button mat-menu-item (click)="criarCliente()">Registra novo cliente</button>
          <button mat-menu-item (click)="criarTecnico()">Registra novo tecnico</button>
        </mat-menu>
        <span style="cursor: pointer;" matTooltip="{{errorMessage}}">Planejado ⏷</span>
        <span style="cursor: pointer;" matTooltip="{{errorMessage}}">Executando ⏷</span>
      </div>
      <div class="icons">

        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button matTooltip="{{errorMessage}}">
          <mat-icon>notifications</mat-icon>
        </button>
        <button [matMenuTriggerFor]="person" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #person="matMenu">
          <button mat-menu-item>Meus chamados</button>
          <button (click)="sair()" mat-menu-item>Sair</button>
        </mat-menu>
      </div>
    </div>
    <!-- </mat-toolbar-row> -->
  </mat-toolbar>
</p>