<p>
  <mat-toolbar color="primary">
    <!-- <mat-toolbar-row> -->
    <div class="brand">
      <div class="detalhe">
        <img src="../../../assets/image/betha-brands.svg" alt="" style="cursor: pointer;" (click)="onLogin()">
      </div>
      <div class="itens">
        <span class="ambiente-de-cadastro">AMBIENTE DE CADASTRO</span>
        <span (click)="onHome()" style="cursor: pointer;">Visão geral</span>
        <button mat-button [matMenuTriggerFor]="menu">Configurando ⏷</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Trocar para perfil Admin</button>
          <button mat-menu-item>Trocar para perfil Tecnico</button>
          <button mat-menu-item>Trocar para perfil Recepção</button>
        </mat-menu>
        <button *ngIf="ADMIN" mat-button [matMenuTriggerFor]="menuR">Registrado ⏷</button>
        <mat-menu #menuR="matMenu">
          <button mat-menu-item (click)="criarCliente()">Registra novo cliente</button>
          <button mat-menu-item (click)="criarTecnico()">Registra novo tecnico</button>
        </mat-menu>
        <span style="cursor: pointer;" matTooltip="{{errorMessage}}">Planejado ⏷</span>
        <span style="cursor: pointer;" matTooltip="{{errorMessage}}">Executando ⏷</span>
      </div>
      <div class="icons">

        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button matTooltip="{{errorMessage}}">
          <mat-icon>notifications</mat-icon>
        </button>
        <button [matMenuTriggerFor]="person" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #person="matMenu">
          <button mat-menu-item>Meus chamados</button>
          <button (click)="sair()" mat-menu-item>Sair</button>
        </mat-menu>
      </div>
    </div>
    <!-- </mat-toolbar-row> -->
  </mat-toolbar>
</p>