<div class="card-container">
  <mat-card-content>
    <div class="table-toolbar pt-2">
      <h5 class="ms-3">Itens cadastrados</h5>
      <div class="demo-button-container">
        <button (click)="abrirDialogForm()" class="ms-3 demo-button personalizado-button">+ Cadastrar
        </button>
        <div class="tabs twist">
          <button class="tabs-button" (click)="carregarTabela()">
            <p class="ico-tabs-1">1</p>
            <p> Cadastros</p>
          </button>
          <button class="tabs-button"
            (click)="filtroTriagem('EM_TRIAGEM','DISPONIVEL_TRIAGEM','AGUARDANDO_CLIENTE','CANCELADO')">
            <p class="ico-tabs-2">2</p>
            <p>Triagem</p>
          </button>
          <button class="tabs-button"
            (click)="filtroManu('EM_MANUTENCAO','AGUARDANDO_MANUTENCAO','MANUTENCAO_REALIZADA')">
            <p class="ico-tabs-3">3</p>
            <p>Manutencao</p>
          </button>
          <button class="tabs-button" (click)="filtroConcluido('CONCLUIDO_CONSERTADO','CONCLUIDO_N_CONSERTADO')">
            <p class="ico-tabs-4">4</p>
            <p>Concluido</p>
          </button>
        </div>
      </div>
    </div>

    <mat-table (formSubmitted)="carregarNovaTabela()" *ngIf="cadastros$ | async as cadastros ; else loading"
      [dataSource]="cadastros">
      <!-- ID Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="custom-id-cell">
          <span class="id-number">{{ element._id }}</span>
        </td>
      </ng-container>

      <!-- Info Column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="width: 100%; " mat-cell *matCellDef="let element" class="linhas">
          <div class="grid grid-template-columns font-cell-edit">

            <div class="grid-1" (click)="alternarDetalhes(element._id)" style="cursor: pointer;">
              <h1 class="linhas">{{ element.name }}</h1>
              <h2 class="linhas ">{{ element.item }}</h2>
              <p class="linhas">{{ element.defeito }}</p>
            </div>

            <div class="grid-2">
              <p class="linhas ">Data de entrada: {{ element.dataEntrada | date: 'dd/MM/yyyy' }}</p>

              <p style="cursor: pointer;" class="linhas"
                [ngClass]="{'EM_TRIAGEM': element.status === 'EM_TRIAGEM', 'CANCELADO': element.status === 'CANCELADO', 'DISPONIVEL_TRIAGEM': element.status ==='DISPONIVEL_TRIAGEM', 'AGUARDANDO_CLIENTE': element.status === 'AGUARDANDO_CLIENTE', 'AGUARDANDO_MANUTENCAO' : element.status === 'AGUARDANDO_MANUTENCAO', 'EM_MANUTENCAO': element.status === 'EM_MANUTENCAO', 'MANUTENCAO_REALIZADA': element.status === 'MANUTENCAO_REALIZADA', 'CONCLUIDO_CONSERTADO' : element.status === 'CONCLUIDO_CONSERTADO', 'CONCLUIDO_N_CONSERTADO': element.status === 'CONCLUIDO_N_CONSERTADO'}"
                (click)="filterStatus(element.status)">
              </p>
              <span style="cursor: pointer;" class="linhas" (click)="alternarDetalhes(element._id)">
                {{ detalhesVisiveis[element._id] ? 'Menos detalhes' : 'Mais detalhes' }}
              </span>
            </div>

            <div class="descricao"
              [ngClass]="{'invisivel': !detalhesVisiveis[element._id], 'visivel': detalhesVisiveis[element._id]}">
              <p>{{element.desc}}</p>
              <p>{{element.email}}</p>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="ico">
        <th mat-header-cell *matHeaderCellDef>

        <td mat-cell *matCellDef="let element" class="linhas cor-icone">
          <button mat-icon-button (click)="editarItem(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialogDeletar(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>
  </mat-card-content>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>