<div class="container p-4 mt-3">
  <h2 class="text-primary mb-4"><strong>Detalhes do Cadastro</strong></h2>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Informações Pessoais</h2>
            <p class="card-text"><strong>Nome:</strong> {{ data.infoCadastro.cliente }}</p>
            <p class="card-text"><strong>Endereço:</strong> {{ data.infoCadastro.endereco }}</p>
            <p class="card-text"><strong>Telefone:</strong> {{ data.infoCadastro.telefone }}</p>
            <p class="card-text"><strong>Email:</strong> {{ data.infoCadastro.email }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Detalhes do Item</h2>
            <p class="card-text"><strong>Modelo:</strong> {{ data.infoCadastro.item }}</p>
            <p class="card-text"><strong>Número de Série:</strong> {{ data.infoCadastro.itemSerie }}</p>
            <p class="card-text"><strong>Opção:</strong> {{ data.infoCadastro.status | upperToCamelCase }}</p>
            <p class="card-text"><strong>Data de Entrada:</strong> {{ dia | dataFormat }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Observações da triagem</h2>
        <p class="card-text"><strong>Descrição do Problema:</strong> {{ data.infoCadastro.desc }}</p>
        <div *ngIf="data.infoCadastro.laudo">
          <p class="card-text"><strong>Laudo técnico:</strong> {{data.infoCadastro.laudo}}</p>
        </div>
        <p class="card-text mt-2"><strong>Valor </strong>R$: {{data.infoCadastro.valor}} </p>
      </div>
    </div>


    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Fotos da triagem</h2>
        <div class="container-fotos" *ngIf="form.get('image_urls')?.value">
          <div class="container-fotos-filha" *ngFor="let url of form.get('image_urls')?.value">
            <img [src]="url" alt="Loading image error">
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="botao-betha" mat-dialog-close>Fechar</button>
  </mat-dialog-actions>