.botao-betha {
  margin-right: 0px !important;
}
.container-fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.container-fotos-filha {
  padding: 12px;
  flex-shrink: 1;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.container-fotos-filha img {
  max-width: 100%;
  height: auto;
}
