<div class="container p-4 mt-3">
  <h2 class="text-primary mb-4"><strong>Detalhes do Cadastro</strong></h2>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Informações Pessoais</h2>
            <p class="card-text"><strong>Nome:</strong> {{ data.infoCadastro.clienteNome }}</p>
            <p class="card-text"><strong>Endereço:</strong> {{ data.infoCadastro.clienteEndereco }}</p>
            <p class="card-text"><strong>Telefone:</strong> {{ data.infoCadastro.clienteTelefone }}</p>
            <p class="card-text"><strong>Email:</strong> {{ data.infoCadastro.clienteEmail }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">Detalhes do Item</h2>
            <p class="card-text"><strong>Modelo:</strong> {{ data.infoCadastro.nomeItem }}</p>
            <p class="card-text"><strong>Número de Série:</strong> {{ data.infoCadastro.itemSerie }}</p>
            <p class="card-text"><strong>Fase:</strong> {{ data.infoCadastro.status | upperToCamelCase }}</p>
            <p class="card-text"><strong>Data de Entrada:</strong> {{ dia | dataFormat }}</p>
            <div *ngIf="saida">
              <p class="card-text"><strong>Data de Saida:</strong> {{ saida | dataFormat }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Observações da triagem</h2>
        <p class="card-text"><strong>Descrição do Problema:</strong> {{ data.infoCadastro.defeitoRelatado }}</p>
        <div *ngIf="data.infoCadastro.analiseTecnica">
          <p class="card-text"><strong>Laudo técnico:</strong> {{data.infoCadastro.analiseTecnica}}</p>
        </div>
        <p class="card-text mt-2"><strong>Valor </strong>R$: {{data.infoCadastro.custoEstimado}} </p>
      </div>
    </div>

    <div *ngIf="data.infoCadastro.tecnico" class="card mb-4 tec-info">
      <div class="card-body">
        <h2 class="card-title">Tecnico encaminhado </h2>
        <!-- <p class="card-text"><strong>Técnico:</strong> {{data.infoCadastro.tecnico}}</p> -->
        <p class="card-text"><strong>Técnico: </strong> {{data.infoCadastro.tecnicoNome}}</p>
        <p class="card-text"><strong>Especialista em: </strong> {{data.infoCadastro.tecnicoCategorias | capitalize}}</p>
        <img [src]="tecnicoImg" alt="Problema ao carregar">

        <div *ngIf="motivoNaoConclusao">
          <p class="card-text"><strong>Motivo da volta: </strong>{{motivoNaoConclusao}}</p>
        </div>
      </div>
    </div>


    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Fotos da triagem</h2>
        <div class="container-fotos" *ngIf="imageUrl">
          <div class="container-fotos-filha" *ngFor="let url of imageUrl">
            <img [src]="url" alt="Loading image error">
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="botao-betha mb-3" mat-dialog-close>Fechar</button>
  </mat-dialog-actions>