.botao-betha {
  margin-right: 0px !important;
}
.container-fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.container-fotos-filha {
  padding: 12px;
  flex-shrink: 1;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.container-fotos-filha img {
  max-width: 100%;
  height: auto;
}
.container {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}
.mdc-dialog__actions {
  margin-right: 20px;
}
.tec-info {
  position: relative;
}

.tec-info img {
  position: absolute;
  top: 15px;
  right: 30px;
  border-radius: 50%;
  width: 80px;
  border: 2px solid rgba(0, 0, 255, 0);
}
.tec-info img:hover {
  border: 2px solid rgb(26, 77, 243);
}
