<div class="title">
  <h3 class=" text-primary"><strong>Laudo da triagem do item {{id}}</strong></h3>
</div>
<mat-dialog-content>
  <form class="form-group" [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-md-12 mt-4">
        <mat-label>Laudo técnico</mat-label>
        <textarea matInput formControlName="analiseTecnica" rows="4"></textarea>
      </mat-form-field>
    </div>

    <mat-form-field class="mt-1">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="custoEstimado">
    </mat-form-field>

    <upload-image class="col-md-12 mt-5" (imagUrlSon)="receberSon($event)"></upload-image>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="botao-betha-cancel" mat-dialog-close>Fechar</button>
  <button class="botao-betha" mat-dialog-close cdkFocusInitial (click)="onSubmit()">Confirmar</button>
</mat-dialog-actions>