.titulo {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 600;
  font-size: large;
}
mat-grid-tile {
  background: #4d6f94;
  font-size: xx-large;
  color: white;
}
.card {
  width: 80%;
  padding: 50px 1px 20px 1px;
}
.center {
  display: flex;
  justify-content: center;
}
.mat-icon {
  width: auto;
  height: auto;
  left: 20px;
  top: 20px;
  position: absolute;
}
.material-icons {
  font-size: 80px;
}
.transform-icon {
  transform: rotate(-10deg);
  opacity: 0.2;
}
