<betha-toolbar></betha-toolbar>
<!-- <app-lista></app-lista> -->
<div class="center">
  <mat-card class="card">
    <div class="titulo">
      <p>Visão geral</p>
    </div>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="125px" gutterSize="10px">
        <mat-grid-tile style="cursor: pointer;" (click)="cadastros()" class="custom-tile">Cadastro<mat-icon
            class="transform-icon">edit_square</mat-icon></mat-grid-tile>
        <mat-grid-tile class="custom-tile" style="cursor: pointer;" (click)="triagem()">Triagem<mat-icon
            class="transform-icon">history_toggle_off</mat-icon></mat-grid-tile>
        <mat-grid-tile class="custom-tile" style="cursor: pointer;" (click)="manutencao()">Manutenção<mat-icon
            class="transform-icon">engineering</mat-icon></mat-grid-tile>
        <mat-grid-tile class="custom-tile" style="cursor: pointer;" (click)="concluido()">Concluído<mat-icon
            class="transform-icon">check_box</mat-icon></mat-grid-tile>
      </mat-grid-list>
      <div class="linhas-bottom-page"></div>
    </mat-card-content>
  </mat-card>

</div>

<div class="betha-brand-bottom">
  <img src="../../../assets/image/betha-bottom.png" alt="">
</div>