<div class="container p-4 mt-3 container-padding-right">
  <h3 class=" text-primary"><strong>Escolha o técnico para o item {{id}}</strong></h3>
  <mat-dialog-content class="mat-typography">
    <form class="form-group" [formGroup]="form">
      <div class="row">
        <div class="col-md-6">

          <div class="card mb-4">
            <div class="card-body">
              <div class="campo">
                <!-- <h2 class="card-title">Detalhes do Item {{id}}</h2> -->
                <p class="card-text"><strong>Data de Entrada:</strong> {{ dia | dataFormat }}</p>
                <p class="card-text"><strong>Modelo:</strong> {{ data.infoCadastro.nomeItem }}</p>
                <p class="card-text"><strong>Número de Série:</strong> {{ data.infoCadastro.itemSerie }}</p>
                <!-- <p class="card-text"><strong>Opção:</strong> {{ data.infoCadastro.status | upperToCamelCase }}</p> -->
              </div>
              <div class="campo-destaque">
                <p class="card-text"><strong>Descrição do Problema:</strong> {{ data.infoCadastro.defeitoRelatado }}</p>
                <p class="card-text"><strong>Laudo técnico:</strong> {{data.infoCadastro.analiseTecnica}}</p>
                <p class="card-text mt-2"><strong>Valor </strong>R$: {{data.infoCadastro.custoEstimado}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 campo">

          <div class="card mb-4">
            <mat-radio-group color="primary" aria-label="Select an option" (change)="filtroTecnico($event)">
              <mat-radio-button value="1">Telas</mat-radio-button>
              <mat-radio-button value="2">Placas</mat-radio-button>
              <mat-radio-button value="3">Mobile</mat-radio-button>
              <mat-radio-button value="4">Geral</mat-radio-button>
            </mat-radio-group>
            <div class="card-body">
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Escolha um Técnico</mat-label>
                <mat-select (selectionChange)="onSelectionChange($event)" class="custom-mat-select">
                  <mat-option *ngFor="let nome of tecnicosNomes" [value]="nome">{{nome}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="tecnicoNomeSelecionado" class="tec-info">
                <a href="/">
                  <img [src]="imageUrlTec" alt="">
                </a>
                <div class="text-container">
                  <p><strong>Tecnico: </strong> {{tecnicoNomeSelecionado}}</p>
                  <p><strong>Especialidade: </strong>{{tecnicoEspecialidadeSelecionado | capitalize}}</p>
                  <p><strong>Chamados para esse Tecnico: </strong>4</p>
                </div>
              </div>
            </div>
          </div>
          <div class="error" *ngIf="msgDeErro">
            {{msgDeErro}}</div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Fotos da triagem</h2>
          <div class="container-fotos" *ngIf="form.get('image_urls')?.value">
            <div class="container-fotos-filha" *ngFor="let url of form.get('image_urls')?.value">
              <img [src]="url" alt="Loading image error">
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="botao-betha-cancel" mat-dialog-close>Fechar</button>
    <button class="botao-betha padding-botao-confirmar" cdkFocusInitial (click)="verificaSubmit()">Confirmar</button>
    <!-- mat-dialog-close -->
  </mat-dialog-actions>