<h2 mat-dialog-title>Cadastro de Produto</h2>

<mat-tab-group color="primary" fitInkBarToContent>
  <mat-tab label="Cliente"><mat-dialog-content>
      <form class="form-group" [formGroup]="form">
        <mat-form-field class="col-md-12 mt-3">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="" formControlName="clienteNome">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="" formControlName="clienteEndereco">
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="" formControlName="clienteTelefone">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="clienteEmail">
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button class="botao-betha-cancel" mat-dialog-close (click)="onCancel()">Cancelar</button>
      <button class="botao-betha-cancel" (click)="habilitarCampos()">Editar cadastro</button>
      <button class="botao-betha" mat-dialog-close cdkFocusInitial (click)="onSubmit()">Salvar
        cliente</button>
    </mat-dialog-actions>
  </mat-tab>
  <mat-tab label="Produto"><mat-dialog-content>
      <form class="form-group" [formGroup]="form">
        <mat-form-field class="col-md-12">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="" formControlName="nomeItem">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <mat-label>Número de série</mat-label>
          <input matInput placeholder="" formControlName="itemSerie">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <mat-label>Escolha uma opção</mat-label>
          <mat-select formControlName="status">
            <mat-option value="DISPONIVEL_TRIAGEM">Disponivel para triagem</mat-option>
            <mat-option value="AGUARDANDO_CLIENTE">Aguardando confirmação do Cliente</mat-option>
            <mat-option value="CANCELADO">Cancelado pelo cliente</mat-option>
            <mat-option value="AGUARDANDO_MANUTENCAO">Pronto para manutenção</mat-option>
            <mat-option value="CONCLUIDO_CONSERTADO">Produto consertado</mat-option>
            <mat-option value="CONCLUIDO_N_CONSERTADO">Não foi possivel consertar</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Data de Entrada</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataEntrada">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-12 ">
          <mat-label class="label-size">Descrição do Problema</mat-label>
          <textarea matInput formControlName="defeitoRelatado"></textarea>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button class="botao-betha-cancel" mat-dialog-close (click)="onCancel()">Cancelar</button>
      <button class="botao-betha-cancel" (click)="habilitarCampos()">Editar cadastro</button>
      <button class="botao-betha" [mat-dialog-close]=" true" cdkFocusInitial (click)="onSubmit()">Salvar
        cadastro</button>
    </mat-dialog-actions>
  </mat-tab>
</mat-tab-group>