.app {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: center;
}
.container-fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.container-fotos-filha {
  padding: 12px;
  flex-shrink: 1;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}
.botao-exluir {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fotos-filha img {
  max-width: 100%;
  height: auto;
}
.break-after-third {
  flex-basis: 100%;
}

input {
  margin: 30px 0px;
  padding: 10px;
}
button {
  background-color: #285c8f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #285c8f;
  margin-right: 10px;
}
button:hover {
  background-color: #3c7ab8;
}
button:disabled {
  background-color: #627fac;
  cursor: not-allowed;
}
.success,
.error {
  margin-top: 30px;
  padding: auto;
  font-weight: 800;
}
.success {
  color: #4caf50;
}
.error {
  color: #f44336;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.linhas {
  border: solid 1px red;
}
